@inherits MessageBase

@if (IsSentByCurrentUser)
{
    <div class="message isSentByCurrentUser">
        <p class="sender">@Model.Sender</p>
        <p class="createdAt">@Model.CreatedAt</p>
        <p class="content">@Model.Content</p>
    </div>
}
else
{
    <div class="message">
        <p class="sender">@Model.Sender</p>
        <p class="createdAt">@Model.CreatedAt</p>
        <p class="content">@Model.Content</p>
    </div>

}
