@inherits MessageListBase

<h3>MessageList</h3>

@if (List is [_, ..])
{
    @*Bootstrap*@
    @*MessageList*@
    @*ListaItem*@

    @foreach (var message in List)
    {
        bool isSentByCurrentUser = message.Sender?.Username == "Alice";

        <Message Model="@message" IsSentByCurrentUser="@isSentByCurrentUser" />
    }
}
else
{
    <h2>No messages :(</h2>
}
<FluentButton IconStart="@(new Icons.Regular.Size16.ArrowClockwise())"
              Loading="@_refreshing"
              OnClick="@RefreshMessagesAsync">
    Refresh
</FluentButton>