@inherits MessageBase

<div class="message" align="@(IsSentByCurrentUser ? "right" : "left")">
    <FluentCard Height="auto"
                Width="300px"
                Class="@($"message {MessageClass}")"
                @onclick="ToggleInfoVisibility">
            @if (IsSentByCurrentUser == false)
            {
                <div class="icon">
                    <FluentPersona Name="@Model.Sender.Username"
                                   Status="PresenceStatus.Available"
                                   StatusSize="PresenceBadgeSize.Small"
                                   StatusTitle="He is available"
                                   ImageSize="30px">
                    </FluentPersona>
                </div>
            }
            <div class="content">
                <p>@Model.Content</p>
            </div>
        @* refactor to css class *@
            <div
                class="info"
                style="@(IsInfoVisible ? "visibility: visible" : "visibility: collapse")">
                <p class="createdAt">@Model.CreatedAt</p>
            </div>
    </FluentCard>
</div>