@inherits MessageBase

<div class="message" align="@(IsSentByCurrentUser ? "right" : "left")">
    <FluentCard Height="auto"
                Width="300px"
                Class="@($"message {MessageClass}")"
                @onclick="ToggleInfoVisibility">
            @if (!IsSentByCurrentUser)
            {
                <div class="icon">
                    <FluentPersona Name="@Model.Sender.Username"
                                   Status="PresenceStatus.Available"
                                   StatusSize="PresenceBadgeSize.Small"
                                   StatusTitle="He is available"
                                   ImageSize="30px">
                    </FluentPersona>
                </div>
            }
            <div class="content">
                <p>@Model.Content</p>
            </div>
            @if (IsInfoVisible)
            {
                <div class="info">
                    <p class="createdAt">@Model.CreatedAt</p>
                </div>
            }
    </FluentCard>
</div>