@inherits MessageBase

@if (IsSentByCurrentUser)
{
    <FluentCard Height="200px">
        <p class="sender">@Model.Sender.Username</p>
        <p class="createdAt">@Model.CreatedAt</p>
        <p class="content">@Model.Content</p>
    </FluentCard>
}
else
{
    <FluentCard>
        <p class="sender">@Model.Sender.Username</p>
        <p class="createdAt">@Model.CreatedAt</p>
        <p class="content">@Model.Content</p>
    </FluentCard>

}
